<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weikbest.pro.saas.sysmerchat.statistics.mapper.SysRefundStatisticsMapper">


    <select id="queryRefundStatistics" resultType="com.weikbest.pro.saas.merchat.order.module.dto.OrderInfoDataCenterDTO">
        select A.id, A.business_id, A.shop_id, A.app_id, A.prod_id, A.order_time, A.order_source,
        B.pay_amount, B.pay_status, B.customer_id, B.refund_status, B.refund_amount,
        C.buy_number
        from t_mmdm_order_info A
        left join t_mmdm_order_pay_record B on A.id = B.order_id
        left join t_mmdm_order_prod_info C on A.id = C.id
        where A.data_status = '1' and A.flag = '0'
        <if test="refundStatistics.orderStartTime != null  ">AND A.`order_time` <![CDATA[ >= ]]>#{refundStatistics.orderStartTime} </if>
        <if test="refundStatistics.orderEndTime != null  ">AND A.`order_time` <![CDATA[ < ]]> #{refundStatistics.orderEndTime}</if>
        <if test="refundStatistics.appId != null and refundStatistics.appId != '' ">and A.app_id = #{refundStatistics.appId}</if>
    </select>

</mapper>